astroalign
astropy
astroquery
exifread
kaleido
lz4
matplotlib
numba
numpy
opencv-python
pandas
photutils
Pillow
plotly
psutil
pyinstaller
pyqt6
pyqt6
pyqtgraph
pytest
pytz
pywavelets
rawpy
reproject
requests
scipy
tifffile
zfpy
zstandard
