astroalign
astropy
astroquery
exifread
kaleido
lz4
matplotlib
numba
numpy
opencv-python
pandas
photutils
Pillow
plotly
psutil
pyinstaller
PyQt6
pyqtgraph
pytest
pytz
pywavelets
rawpy
reproject
requests
sep
scipy
tifffile
xisf
zfpy
zstandard
